:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #009444;
  --color-primaryLight: #8dc63f;
  --color-secondary: #001f3f;
}

html {
  scroll-behavior: smooth;
  color: #454545;
}
body {
  -webkit-tap-highlight-color: transparent !important;
  font-weight: 500;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.hide-scrollbar::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 5px;
}

@media screen and (min-width: 991px) {
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}
